* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    border-top: 10px solid #248f24;
    background-color: white;
    dispaly: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 5px;
    margin-left: 35%;
    background-color: #e3e3e3;
    width: 700px;
    height: 80px;
}

.container h1 {
    font-style: italic;
    padding-bottom: 13px;
    color: #248f24;
    margin-left: 20px;
}

a {
    margin-left: 15px;
    text-decoration: none;
    color: #248f24;
    padding: 13px;
}

h2 {
    color: #248f24;
    margin-left: 35%;
    margin-top: 30px;
    font-size: 26px;
}

.laura {
    margin-top: 24px;
    margin-left: 35%;
    width: 40px;
    height: 40px
}

article .post {
    margin-top: 6px;
    margin-left: 35%;
    font-size: 15px;
    font-style: italic;
}

article .pic {
    margin-top: 19px;
    margin-left: 35%;
    width: 700px;
    height: auto;
}

article .content {
    margin-top: 25px;
    margin-left: 35%;
    width: 700px;
    line-height: 1.5;
    text-align: justify;
    font-size: 20px;
}

div .info {
    margin-top: 15px;
    margin-left: 35%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

div .info-1 {
    margin-top: 15px;
    margin-left: 35%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

div .info-2 {
    margin-top: 15px;
    margin-left: 35%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

div .list {
    margin-top: 12px;
    margin-left: 38%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

div .list .first {
    font-weight: bold;
}

div .link {
    margin-top: 22px;
    margin-left: 35%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
}

div .link a {
    text-decoration: none;
    margin-left: 1px;
}

div .list-2 {
    margin-top: 12px;
    margin-left: 35%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

div .list-3 {
    margin-top: 12px;
    margin-left: 38%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

.end {
    margin-top: 12px;
    margin-left: 35%;
    text-align: justify;
    width: 700px;
    font-size: 20px;
    line-height: 1.5;
}

section {
    background-color: #e3e3e3;
    width: 700px;
    height: 550px;
    margin-top: 64px;
    margin-left: 35%;
    border-top: 6px solid #248f24;
    border-bottom: 6px solid #248f24;
}

section .footer-post {
    margin-top: 32x;
    text-align: center;
    font-size: 29px;
}

section ul {
    margin-top: 15px;
    margin-left: 70px;
    list-style-type: none;
}

section .related-1,
.related-2 {
    margin-top: 10px;
    margin-bottom: 29px;
}

section .related-3 {
    margin-top: 10px;
}

footer {
    margin-left: 35%;
    padding-bottom: 28px;
    font-style: italic;
}
